In [1]:
import pandas as pd

In [2]:
dfF=pd.read_csv("Fake.csv")
dfT=pd.read_csv("True.csv")

In [3]:
dfT['News']=1
dfF['News']=0

In [4]:
dfF.insert(0, 'News_report', dfF['News'])
dfT.insert(0, 'News_report', dfT ['News'])

In [5]:
dfT.head()

,News_report,title,text,subject,date,News
0,1,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,1,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,1,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,1,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [6]:
df=pd.concat([dfT,dfF])

In [7]:
df=df.sample(frac = 1).reset_index(drop=False)

In [8]:
df=df[['News_report','text']]

In [9]:
df.head()

   News_report                                               text
0            0  21st Century Wire says Incredibly, Donald Trum...
1            1  WASHINGTON (Reuters) - National security advis...
2            0  Bill and Hillary Clinton have been married for...
3            0  Speaking to Democrats at a fundraiser at actor...
4            0  Hillary s been coughing to the point of almost...

In [10]:
data=df.sample(n=10000)

In [15]:
import nltk
import re
from nltk.corpus import stopwords

In [13]:
nltk.download("stopwords") # in order to extract stopwords
lemma=nltk.WordNetLemmatizer()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\SVMY\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
text_list=[]
for text in data.text:
    text=re.sub("[^a-zA-Z]"," ",text) # extracting unnecesary characters
    text=text.lower() #makes characters lowercase
    text=nltk.word_tokenize(text) # splits all the words
    text=[word for word in text if not word in set(stopwords.words("english"))] # extract stopwords
    text=[lemma.lemmatize(word) for word in text] # Lemmatisation
    text=" ".join(text) 
    text_list.append(text)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=2500)
x=cv.fit_transform(text_list).toarray()

In [ ]:
y=data['News_report']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

In [ ]:

from sklearn.naive_bayes import MultinomialNB
spam_detect_model = MultinomialNB().fit(X_train, y_train)

y_pred=spam_detect_model.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score
r=round(r2_score(y_test, y_pred),2)*100
print("accuracy of this model is :",int(r),"%")

In [85]:
y_pred

array([0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0])

In [86]:
y_test

43928    0
36607    1
10211    0
37361    0
28039    0
        ..
29884    0
12836    1
36393    0
31293    0
22883    0
Name: News_report, Length: 200, dtype: int64